---
import { getCollection, type CollectionEntry } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import { slide } from 'astro:transitions'

export const getStaticPaths = async () => {
	const articles = await getCollection('articles')
	const paths = articles.map((article) => {
		return {
			params: {
				slug: article.slug
			},
			props: {
				article
			}
		}
	})
	return paths
}

type Props = {
	article: CollectionEntry<'articles'>
}

const { article } = Astro.props
const { Content } = await article.render()
export const prerender = true
---

<BaseLayout pageTitle={article.data.title}>
	<div class="flex justify-center">
		<div class="max-w-4xl">
			<a
				href={`/articles/`}
				class="mt-6 flex items-center transition duration-150 ease-in-out hover:-translate-x-2 hover:cursor-pointer hover:text-red-500"
			>
				<Icon name="fa:long-arrow-left" class="mr-2 h-5 w-5" />Liste des articles
			</a>
			<h1>{article.data.title}</h1>
			<!-- <div>{article.data.image.width}</div> -->
			<Image
				src={article.data.image}
				alt={article.data.title}
				width={1024}
				height={1024 / 1.5}
				class="aspect-thumbnail mb-6 rounded-2xl object-cover shadow-xl"
			/>
			<div class="prose prose-xl prose-zinc relative mb-20 overflow-visible dark:prose-invert">
				<Content />
			</div>
		</div>
	</div>
</BaseLayout>
