---
import { type CollectionEntry, getEntryBySlug } from 'astro:content'
import { Image } from 'astro:assets'

// import CategoryList from "./CategoryList.astro"

type Props = {
	article: CollectionEntry<'articles'>
}

const { article } = Astro.props
// const author = await getEntryBySlug("authors", article.data.author)
// const image = await getEntryBySlug("articles", article.data.image)
---

<article
	class="z-10 rounded-xl transition duration-300 ease-in-out hover:-translate-y-5 hover:scale-105 hover:bg-zinc-800 hover:shadow-lg hover:shadow-zinc-200/10"
>
	<a href={`/article/${article.slug}`} class="">
		<Image
			src={article.data.image}
			alt={article.data.title}
			width={600}
			height={600 / 1.5}
			class="rounded-t-lg"
		/>
		<!-- <div class="mb-4">
          <ArticlesList categories={article.data.categories} />
      </div> -->
		<div class="p-4">
			<div class="mb-4 inline-block text-3xl font-semibold">
				{article.data.title}
			</div>

			<p class="mb-4 line-clamp-2 text-xl text-zinc-500">
				{article.body}
			</p>

			<div class="flex items-center justify-between">
				<div class="text-zinc-700">
					{article.data.date}
				</div>
			</div>
		</div>
	</a>
</article>
